In [1]:
import pandas as pd
import tpqoa
from OandaDataCollector import OandaDataCollector as odc

In [2]:
oanda_col=odc(symbol='EUR_USD', start='2021-04-01',
                  end='2021-05-31', spread_col=True)

In [3]:
oanda_col.data

                        Open     High      Low    Close  vol    spread  pips
Date
2021-04-01 00:00:00  1.17271  1.17288  1.17270  1.17285   69  0.000125  1.25
2021-04-01 00:01:00  1.17284  1.17287  1.17279  1.17283   47  0.000125  1.25
2021-04-01 00:02:00  1.17282  1.17282  1.17258  1.17259   62  0.000125  1.25
2021-04-01 00:03:00  1.17260  1.17264  1.17255  1.17260   14  0.000125  1.25
2021-04-01 00:04:00  1.17258  1.17258  1.17248  1.17257   15  0.000125  1.25
...                      ...      ...      ...      ...  ...       ...   ...
2021-05-28 20:56:00  1.21906  1.21931  1.21906  1.21929   34  0.000095  0.95
2021-05-28 20:57:00  1.21930  1.21930  1.21917  1.21925   23  0.000095  0.95
2021-05-28 20:58:00  1.21924  1.21924  1.21917  1.21918   30  0.000095  0.95
2021-05-28 20:59:00  1.21917  1.21928  1.21917  1.21921   30  0.000095  0.95
2021-05-31 00:00:00  1.21896  1.21902  1.21891  1.21896   56  0.000100  1.00

[57161 rows x 7 columns]